@import url('reset.css');
@import url("typography.css");
@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");

a:active{
    background-color: lightpink;
}

i{
    color: black;
    display: inline-block;
    position: relative;

}

a.avatar:hover {
    box-shadow: none;
}

a.avatar:hover i.fa-facebook{
    color: blue;
}

a.avatar:hover i.fa-twitter{
    color: lightblue;
}

a.avatar:hover i.fa-google-plus{
    color: red;
}

a.avatar:hover i.fa-linkedin{
    color: lightblue;
}

a.avatar:hover i.fa-instagram{
    color: grey;
}

.list-people {
    display: flex;
    /* justify-content: left; */
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.list-people li, .list-people span {
    display: block;
}

.list-people li {
    list-style: none outside;
    flex: 0 0 1rem;
    text-align: center;
}

.list-people .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    /* background: lightblue; */
    width: 3rem;
    height: 3rem;
    margin: 1rem 0.5rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0.2rem 1rem 0 rgba(0, 0, 0, 0.4);
    text-decoration: none;
    background: #DDD;

}

.list-people .avatar:before,
.list-people .avatar:after {
    display: block;
    content: '';
    
}

.list-people .avatar:before {
    padding-top: 1rem;
}

.list-people .avatar:after {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 5;
    border-radius: 50%;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5) inset;
}

.list-people .avatar img {
    display: block;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: auto;
}
