body {
    padding: 2em; 
  }

.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
  }
  
  .wrapper > * {
    padding: 10px;
    flex: 1 100%;
    margin: 1rem;
  }
  
  .header {
    background: tomato;
  }
  
  .footer {
    background: lightgreen;
  }
  
  .main {
    background: deepskyblue;
  }
  
  .aside-2 {
    background: hotpink;
  }

    .main    { flex: 3 0px; }
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
    .aside { flex: 1 auto; }
